# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Build artifacts
build/
dist/
*.egg-info/
